@import url("https://fonts.googleapis.com/css2?family=Bungee&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tailwindcss";

@theme {
	--font-jetbrains: "JetBrains Mono", monospace;
}

@theme {
	--font-ubuntu: "Ubuntu", sans-serif;
}

.scrollbar-custom::-webkit-scrollbar {
	width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
	background: #111827; /* gray-900 */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: #3b82f6; /* blue-500 */
	transition: background-color 0.5s ease-in-out;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
	background-color: #eff6ff; /* blue-50 */
}
